bottleneck
brotli
certifi
charset-normalizer
einop==0.0.1
einops==0.8.0
filelock
fsspec==2024.6.0
gmpy2
huggingface-hub==0.23.2
idna
Jinja2
jsonpatch==1.33
jsonpointer==2.4
MarkupSafe
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
networkx
numexpr
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pillow
PySocks
python-dateutil
pytz
PyYAML
requests
safetensors==0.4.3
scipy==1.13.1
six
sympy
timm==0.9.5
torchnet==0.0.4
tornado==6.4
tqdm==4.66.4
triton==2.3.1
typing_extensions
tzdata
urllib3
visdom==0.2.4
websocket-client==1.8.0